.header {
    position: fixed;
    top: 10px;
    left: 0px;
    transform: translateX(0%);
    z-index: 1000;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 0 10px; /* Butonları sağa yaslamak için padding ekleyin */
    box-sizing: border-box;
}

.custom-search {
    width: 25%; /* Arama inputunu 3 kat daha geniş yapar */
    border-radius: 8px !important;
    border: 2px solid #FFC107 !important; /* Amber rengi */
}

.custom-search:focus {
    border-style: none;
}

.ant-input-search-button {
    background-color: #FFC107 !important; /* Amber rengi (hex) */
    border-color: #FFC107 !important;
} 

.custom-button {
    background-color: #FFC107 !important; /* Amber rengi (hex) */
    border-color: #FFC107 !important;
}

.auth-button {
    margin-left: auto; /* Butonu sağa yaslar */
    background-color: #0033bd !important; /* Amber rengi (hex) */
    border-color: #0033bd !important;
}
